
<%= form_for [@selection,@student] do |f| %>
  

 
<div class="form-group">
    <%= f.label :name, class: "sr-only", cols: 60, rows: 100%><br>
    <%= f.text_field :name, class: "form-control" ,placeholder: "Seu nome completo"%>
  </div>

<div class="form-group">
    <%= f.label :email, class: "sr-only", cols: 60, rows: 100%><br>
    <%= f.text_field :email, class: "form-control" ,placeholder: "Email"%>
  </div>

<div class="actions">
    <%= f.submit "Inscreva-se!", class: "btn btn-lg btn-primary btn-block" %>
  </div>
  
<% end %>




