
<%= form_for [@selection,@student] do |f| %>
<% if @student.errors.any? %>
  <div id="error_explanation" STYLE="position:absolute; TOP:-100px; LEFT:280px; WIDTH:450px; HEIGHT:10px" >
    <h2><%= pluralize(@student.errors.count, "error") %> prohibited this selection from being saved:</h2>

    <ul>
    <% @student.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div class="form-group" STYLE="position:absolute; TOP:70px; LEFT:130px; WIDTH:800px; HEIGHT:10px" >
    <%= f.label :name, class: "sr-only", cols: 60, rows: 100%><br>
    <%= f.text_field :name, class: "form-control" ,placeholder: "Seu nome completo"%>
  </div>

<div class="form-group" STYLE="position:absolute; TOP:130px; LEFT:130px; WIDTH:800px; HEIGHT:10px">
    <%= f.label :email, class: "sr-only", cols: 60, rows: 100%><br>
    <%= f.text_field :email, class: "form-control" ,placeholder: "Email"%>
  </div>


 <div  STYLE="position:absolute; TOP:250px; LEFT:530px; WIDTH:420px; HEIGHT:10px"  >

<div class="fileUpload btn btn-lg btn-primary btn-block">
  <span>Curriculo</span>
    <%= f.file_field :resume, class: "upload", onchange: "resume(this)"%>
  <i id="resume_i" class="fa fa-cloud-upload"></i>
</div>

</div>
<div  STYLE="position:absolute; TOP:250px; LEFT:80px; WIDTH:420px; HEIGHT:10px"  >
<div class="fileUpload btn btn-lg btn-primary btn-block tooltipped" data-position="right" data-delay="50" data-tooltip="adicione seu histórico">
  <span>Histórico</span>
    <%= f.file_field :history, class: "upload", onchange: "history(this)" %>
  <i id="history_i" class="fa fa-cloud-upload"></i>
  </div>
</div>
<br>

<div  STYLE="position:absolute; TOP:400px; LEFT:100px; WIDTH:800px; HEIGHT:10px"  >
    <%= f.submit "Inscreva-se!", class: "btn btn-lg btn-primary btn-block" %>
  </div>

<% end %>
