<% if @student.errors.any? %>
  <div id="error_explanation" STYLE="position:absolute; TOP:-100px; LEFT:280px; WIDTH:450px; HEIGHT:10px" >
    <h2><%= pluralize(@student.errors.count, "error") %> prohibited this selection from being saved:</h2>

    <ul>
    <% @student.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @selection.students.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @selection.students.resume %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
