<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @selection.students.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @selection.students.resume %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
