<div  STYLE="position:absolute; TOP:70px; LEFT:100px; WIDTH:1000px; HEIGHT:10px"  >
<p id="notice"><%= notice %></p>


<h1 align="center"> Crie um novo processo!<h1>

<h1 align="center"><%= link_to 'New Selection', new_selection_path,class: "btn btn-outline btn-lg"  %>

<h1>
<h1>Seleções Disponíveis</h1>



<table>

  <tbody>
   <h2 class="page-header">
    Processos Seletivos mais recentes:
                </h2>
    <% @selections.each do |selection| %>

<!-- Divulgação de Processos tipo 1 -->
      

           
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> <%= selection.name %></h4>
                    </div>
                    <div class="panel-body">
                     
        <div class="row" align="center">   
                        Início<p><%= selection.begin %><p>
                        Fim<p><%= selection.end %><p>
                        Id do dono : <p><%= selection.owner %><p>
                       </p>
                   
</div>
                        <%= link_to 'Show',  selection ,class: "btn btn-default"%>
                         <%= link_to 'Edit',  edit_selection_path(selection) ,class: "btn btn-default"%>
                         <%= link_to 'Destroy',  selection, method: :delete, data: { confirm: 'Are you sure?' }  ,class: "btn btn-default"%>
                    </div>
                </div>
            </div>
          



      
    <% end %>
  </tbody>
</table>

<br>

</div>





