<div >



<div class="jumbotron" ><div class="container" >

<h1 align="center" >

<% if current_teacher.present? %>
<FONT FACE="Helvetica " color="#2F4F4F"> Seja bem vindo a área do usuário!</FONT> <h1>


<h1 align="center" ><i class="fa fa-list fa-5"></i>
<FONT FACE="Helvetica " color="2F4F4F"> Crie um novo processo!</FONT> <h1>
<h1 align="center"><%= link_to 'New Selection', new_selection_path,class: "btn btn-success active"  %>

<%else%>

<FONT FACE="Menlo " color="#2F4F4F"> Seja bem vindo ao BPS processos!</FONT> <h1>

  <%end%>
</div>
</div></div>

<h2 align="center"><FONT color="black"><%= notice %> </FONT> <h2>
      



<h1 align="center">Seleções Disponíveis :</h1>



<table>

  <tbody>
   <h2 class="page-header" align="center">
    
                </h2>
    <% @selections.each do |selection| %>

<!-- Divulgação de Processos tipo 1 -->
      
            <% if current_teacher.present? %>
                      
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-users fa-2"></i> <%= selection.name %></h4>
                    </div>
                    <div class="panel-body">
                     
                        <div class="row" align="center">   
                            <p>Final: <%= selection.end %> <i class="fa fa-calendar fa-2"></i><p>
                        

                         <p> Email do professor responsável: <%= Teacher.find(selection.owner).email %> <i class="fa fa-tag fa-2"></i>
                       <p>
                   
                             </div>
                         <% if current_teacher.id == selection.owner %>

                         <%= link_to 'Show',  selection ,class: "btn btn-default"%>
                         <%= link_to 'Edit',  edit_selection_path(selection) ,class: "btn btn-default"%>
                         <%= link_to 'Destroy',  selection, method: :delete, data: { confirm: 'Are you sure?' }  ,class: "btn btn-default"%>
                         <%else%>
                             <%= link_to 'Show',  selection ,class: "btn btn-default"%>
                            <%end%>

                        
                    </div>
                </div>
            </div>


                <%else%>    
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p><i class="fa fa-users fa-2"></i> <%= selection.name %> (Final: <%= selection.end %>) 
                         </p>
                    </div>
                    <div class="panel-body">
                     
        <div class="row" align="center" >   
              
                       
                        <%= selection.description %>

                     <!--    <p> Id do Professor: <%= selection.owner %> <i class="fa fa-tag fa-2"></i>-->
                       <p>
                         <%= link_to 'Inscreva-se',  "/selections/#{selection.id}/students/new" ,class: "btn btn-default"%>
                         <%= link_to 'Edital',   root_path ,class: "btn btn-default"%>
                   
</div>

                    </div>
                </div>
            </div>


                <% end %>  
    <% end %>
  </tbody>
</table>

<br>

</div>





