<p id="notice"><%= notice %></p>

<h1>Listing Selections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Begin</th>
      <th>End</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @selections.each do |selection| %>
      <tr>
        <td><%= selection.name %></td>
        <td><%= selection.begin %></td>
        <td><%= selection.end %></td>
        <td><%= selection.owner %></td>

        <td><%= link_to 'Show', selection %></td>
        <td><%= link_to 'Edit', edit_selection_path(selection) %></td>
        <td><%= link_to 'Destroy', selection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Selection', new_selection_path %>



