<div  STYLE="position:absolute; TOP:150px; LEFT:250px; WIDTH:1000px; HEIGHT:10px"  >




 <div class="col-md-9">

<h2 align="center"><FONT color="Green"><%= notice %> </FONT> <h2>

<div class="panel-body">
               <div class="panel panel-primary" align="center">
                    <div class="panel-heading">
                        <h2 align="center"><i class="fa fa-fw fa-check"></i> <%= @selection.name %></h2>
                    </div>       
                    
        <div class="row" align="center">   
       
                       <h3>Final: <%= @selection.end %> <i class="fa fa-calendar fa-2"></i><h3>
                <h3> Id do Professor: <%= @selection.owner %> <i class="fa fa-tag fa-2"></i>
                       <h3>




                         <%= link_to 'Edit', edit_selection_path(@selection),class: "btn btn-default" %> 
<%= link_to 'Back', selections_path, class: "btn btn-default" %>
            
                   </div>	

</div>
</div>
</div>
</div>
