<div  STYLE="position:absolute; TOP:150px; LEFT:400px; WIDTH:1000px; HEIGHT:10px"  >

<p id="notice"><%= notice %></p>

 <div class="col-md-4">
<div class="panel-body">
               <div class="panel panel-primary" align="center">
                    <div class="panel-heading">
                        <h2><i class="fa fa-fw fa-check"></i> <%= @selection.name %></h2>
                    </div>       
                    <div class="alert alert-info">
        <div class="row" align="center">   
        <p>Início<%= @selection.begin %></p>
                        <p>Fim<%= @selection.end %></p>
                         <p>Id do dono :<%= @selection.owner %></p>
                         <%= link_to 'Edit', edit_selection_path(@selection),class: "btn btn-default" %> 
<%= link_to 'Back', selections_path, class: "btn btn-default" %>
            
                   </div>	
</div>
</div>
</div>
</div>
</div>
