<div  STYLE="position:absolute; TOP:150px; LEFT:250px; WIDTH:1000px; HEIGHT:10px"  >


 <div class="col-md-9">

<h2 align="center"><FONT color="Green"><%= notice %> </FONT> <h2>

<div class="panel-body"  STYLE="position:absolute; TOP:-100px; LEFT:-200px; WIDTH:1200px; HEIGHT:10px">
               <div class="panel panel-primary" align="center">
                    <div class="panel-heading">
                        <h2 align="center"><i class="fa fa-fw fa-check"></i> <%= @selection.name %></h2>
                    </div>

        <div class="row" align="center">



                       <h4>Final: <%= @selection.end %> <i class="fa fa-calendar fa-2"></i><h4>
                <h4> Id do Professor: <%= @selection.owner %> <i class="fa fa-tag fa-2"></i>
                       <h4>

          <div> 
<table  >

    <tr>
      <th WIDTH=10 height=50  ><h4 align="center" ><strong>Index</strong></th>
      <th WIDTH=200 height=50 ><h4 align="center" ><strong>Estudantes</strong>  <h4></th>
      <th WIDTH=200><h4 align="center" ><strong>Email</strong></th>
      <th WIDTH=140><h4 align="center" ><strong>Histórico</strong></th>
      <th WIDTH=140><h4 align="center" ><strong>Currículo</strong></th>
      <th WIDTH=100><h4 align="center" ><strong>Nota1</strong></th>
      <th WIDTH=100><h4 align="center" ><strong>Nota2</strong></th>
      <th WIDTH=100><h4 align="center" ><strong>Nota3</strong></th>


  <tbody>
    <% @students.each_with_index do |student,index| %>
      <tr>
        <td WIDTH=10 height=50 align="center"><%=index+1%></td>
        <td  WIDTH=200 height=50 align="center"  ><%= student.name %><br/></td>
        <td WIDTH=200 align="center"><%= student.email %></td>
        <td WIDTH=140 align="center">  <a class="btn btn-primary btn-lg" href="<%= student.history_url%>">Histórico</a></td>
        <td WIDTH=140 align="center"><a class="btn btn-primary btn-lg"  href="<%= student.resume_url %>">Currículo</a></td>
        <td WIDTH=100 align="center"><%= student.nota1 %></td>
        <td WIDTH=100 align="center"><%= student.nota2 %></td>
        <td WIDTH=100 align="center"><%= student.nota3 %></td>

<%if current_teacher.id == @selection.owner %>
        <td><%= link_to 'Avaliar!', evaluation_path(@selection,student) ,class: "btn btn-default" %></td>


   <%end%>     
       
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>


                             </div>

                         <%= link_to 'Edit', edit_selection_path(@selection),class: "btn btn-default" %>
<%= link_to 'Back', selections_path, class: "btn btn-default" %>

                   </div>

</div>
</div>
</div>
</div>
