<div  STYLE="position:absolute; TOP:150px; LEFT:100px; WIDTH:1000px; HEIGHT:10px"  >

<p id="notice"><%= notice %></p>
<div class="container">


<p >
  <strong>Name:</strong>
  <%= @selection.name %>
</p>

<p>
  <strong>Begin:</strong>
  <%= @selection.begin %>
</p>

<p>
  <strong>End:</strong>
  <%= @selection.end %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @selection.owner %>
</p>

<%= link_to 'Edit', edit_selection_path(@selection) %> |
<%= link_to 'Back', selections_path %>
</div>
</div>
